Alias /graphcards /path/to/GraphCards/web

<Directory /path/to/GraphCards/web>
    AllowOverride None
    Require all granted

    Options -MultiViews

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app_dev.php [QSA,L]
</Directory>

<Directory /path/to/GraphCards>
    Options FollowSymlinks
</Directory>

<Directory /path/to/GraphCards/web/bundles>
    RewriteEngine Off
</Directory>
