{% extends "base.html.twig" %}

{% block body_main %}

    <h1>List of relationship types</h1>

    <ul>

        {% for relationshipType in relationshipTypes %}

            <li>
                <a href="{{ path('addRelationship', {'type': relationshipType }) }}">{{ relationshipType }}</a>
            </li>

        {% endfor %}

    </ul>

    <a rel="alternate" href="{{ path('addRelationship') }}">Add a relationship</a>

{% endblock %}
