{% extends 'default/base.html.twig' %}

{% block body_main %}
    <main>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to GraphCards!</h1>
                <p class="lead">This is a graph database frontend.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{{ path('listNodes') }}" role="button">Show cards</a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}
