{% extends "Api/base.html.twig" %}

{% block body_main %}

    <h1>List of property keys</h1>

    <ul>

        {% for propertyKey in propertyKeys %}

            <li>
                {{ propertyKey }}
            </li>

        {% endfor %}

    </ul>

    <a rel="alternate" href="{{ path('apiAddNode') }}">Add a node</a>
    <a rel="alternate" href="{{ path('apiAddRelationship') }}">Add a relationship</a>

{% endblock %}
